$text_size: 1.15em;
$background: #272727;
$white: #fff;
$red: #b03636;
$hoverred: #d24444;
$black: #000;
$semiwhite: rgb(230, 230, 230);
$green: rgb(46, 172, 46);
$background2: #1e1e1e;
$resp: 900px;

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: $background;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;

    @media (max-height: 700px) {
        height: auto;
    }

    #app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 15px;

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 120px;
            }
        }

        footer {
            display: flex;
            flex-direction: column;

            #footer-head {
                p {
                    text-align: center;
                    font-weight: bold;
                    color: white;
                }
            }

            #footer-content {
                display: flex;
                flex-direction: row;
                gap: 10px;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }
            }
        }

        input[type="text"] {
            width: 60%;
            padding: 20px;
            text-align: center;
            height: 20px;
            font-size: $text_size;
        }

        select {
            width: 33%;
            text-align: center;
            font-size: $text_size;
            cursor: pointer;
        }

        #title-container {
            h2, p {
                text-align: center;
                color: $white;
                font-weight: bold;
            }
        }

        #button-container {
            display: flex;
            flex-direction: row;
            gap: 10px;

            #clear {
                background: $red;
                color: $white;

                &:hover {
                    background: $hoverred;
                }
            }

            #fire {
                background: $semiwhite;
                color: $black;

                &:hover {
                    background: $white;
                }
            }

            button {
                cursor: pointer;
                text-align: center;
                padding: 12px;
                font-size: $text_size;
                border: none;
                border-radius: 10px;
            }
        }

        #hash-container, #attack-container {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: $background2;
            border-radius: 10px;
            max-width: 500px;
            padding: 20px;

            @media (max-width: $resp) {
                max-width: 90%;
            }

            .title-border {
                color: $white;
                font-weight: bold;
                font-size: 1.2em;

                a {
                    text-decoration: none;
                    color: $white;
                    background: $red;
                    padding: 2.5px;
                    border-radius: 5px;

                    &:hover {
                        background: $hoverred;
                    }
                }
            }
        }

        #hash-container {
            #hashed-container {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

            #hashed-succes-container {
                p {
                    word-wrap: text;
                    color: $white;
                }
            }
        }

        #attack-container {
            #crack-container {
                display: flex;
                flex-direction: row;
                gap: 10px;

                p {
                    text-align: center;
                    color: $red;
                }
            }

            .res-content {
                padding: 10px;

                p {
                    font-size: $text_size;
                    color: $white;
                    font-weight: bold;
                    text-align: center;
                }
            }

            #success-container {
                border: 5px solid $green;

                span {
                    color: $green;
                }
            }

            #error-container {
                border: 5px solid $red;
                span {
                    color: $red;
                }
            }
        }
    }
}