$text_size: 1.15em;
$background: #272727;
$white: #fff;
$red: #b03636;
$hoverred: #d24444;
$black: #000;
$semiwhite: rgb(230, 230, 230);
$green: rgb(46, 172, 46);
$background2: #1e1e1e;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;

    @media (max-height: 700px) {
        height: auto;
        margin-bottom: 20px;
    }

    #app-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 50px;
        overflow: clip;

        input[type="text"] {
            width: 60%;
            padding: 20px;
            text-align: center;
            height: 20px;
            font-size: $text_size;
        }

        select {
            width: 33%;
            text-align: center;
            font-size: $text_size;
            cursor: pointer;
        }

        #title-container {
            h2, p {
                text-align: center;
                color: $white;
                font-weight: bold;
            }
        }

        #button-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;

            #clear {
                background: $red;
                color: $white;

                &:hover {
                    background: $hoverred;
                }
            }

            #fire {
                background: $semiwhite;
                color: $black;

                &:hover {
                    background: $white;
                }
            }

            button {
                cursor: pointer;
                text-align: center;
                padding: 20px;
                font-size: $text_size;
                border: none;
                border-radius: 50px;
                font-weight: bold;
            }
        }

        #hash-container, #attack-container {
            padding: 70px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1.45vw;
            background: $background2;
            border-radius: 10px;
            width: 415px;
            justify-content: center;
            align-items: center;

            .title-border {
                position: absolute;
                top: 20px;
                left: 20px;
                color: $white;
                font-weight: bold;
                font-size: 1.2em;

                a {
                    text-decoration: none;
                    color: $white;
                    background: $red;
                    padding: 2.5px;
                    border-radius: 5px;
                }
            }
        }

        #hash-container {
            position: relative;

            #hashed-container {
                display: flex;
                flex-direction: row;
                gap: 2vw;
            }

            #hashed-succes-container {
                position: relative;
                width: inherit;
                display: flex;
                flex-wrap: wrap;

                p {
                    width: inherit;
                    word-wrap: break-word;
                    text-align: center;
                    color: $white;
                    font-size: $text_size;
                }
            }
        }

        #attack-container {
            #crack-container {
                display: flex;
                flex-direction: row;
                gap: 2vw;

                p {
                    text-align: center;
                    color: $red;
                }
            }

            #success-container {
                border: 5px solid $green;
                padding: 1vw;

                p {
                    font-size: $text_size;
                    color: $white;
                    font-weight: bold;
                    text-align: center;

                    span {
                        color: $green;
                    }
                }
            }
        }
    }
}